{% extends 'admin/base.html' %}

{% load static %}

<!-- Updsate admin colors -->
{% block extrastyle %}
{{ block.super }}
<style>

/* colors */
:root {
    --primary: #296d30;
    --secondary: #3CB448;
    --accent: #D4DE26;
    --primary-fg: #fff;
    --body-fg: #333;
    --body-bg: #fff;
    --body-quiet-color: #666;
    --body-loud-color: #000;
    --header-color: #D4DE26;
    --header-branding-color: var(--accent);
    --header-bg: var(--secondary);
    --header-link-color: var(--primary-fg);
    --breadcrumbs-fg: #c4dce8;
    --breadcrumbs-link-fg: var(--body-bg);
    --breadcrumbs-bg: var(--primary);
    --link-fg: #3CB448;
    --link-hover-color: #296d30;
    --link-selected-fg: #1b4a20;
    --hairline-color: #e8e8e8;
    --border-color: #ccc;
    --error-fg: #ba2121;
    --message-success-bg: #dfd;
    --message-warning-bg: #ffc;
    --message-error-bg: #ffefef;
    --darkened-bg: #f8f8f8;
    --selected-bg: #e4e4e4;
    --selected-row: #ffc;
    --button-fg: #fff;
    --button-bg: var(--primary);
    --button-hover-bg: #153a19;
    --default-button-bg: var(--secondary);
    --default-button-hover-bg: #153a19;
    --close-button-bg: #888;
    --close-button-hover-bg: #747474;
    --delete-button-bg: #ba2121;
    --delete-button-hover-bg: #a41515;
    --object-tools-fg: var(--button-fg);
    --object-tools-bg: var(--close-button-bg);
    --object-tools-hover-bg: var(--close-button-hover-bg);
}

#site-name a {
    color: var(--primary-fg) !important
}

</style>

{% endblock %}

{% block extrahead %}
{{ block.super }}
<!-- Favicon -->
<link rel="icon" type="image/png" href="{% static 'excelapp/imgs/favicon.png' %}">

<!-- Imports for toastr -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" type="module"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" type="module"></script>

{% endblock %}

<!-- Show excel file notifications -->
{% block footer %}
<script src="{% static 'excelapp/js/notifications.js' %}" type="module"></script>
{% endblock %}
