{% extends "excelapp/base.html" %}
{% load static %}

{% block main %}
<main class="generate-password form">
    <form action="./generate-password" method="post">
        {% csrf_token %}

        {% if message %}
            <p class="message">{{message}}</p>
        {% endif %}

        <h1>{{page_name}}</h1>

        <label>
            User name
            <input type="text" name="user" id="user" class="text-input" required placeholder="JohnSmith or ScheduleV-1-JohnSmith">
        </label>
        <label>
            New password
            <input type="password" name="password1" id="password1" class="text-input" required placeholder="MySecretPass123*">
        </label>
        <div class="pass1-error"></div>
        <label>
            New password again
            <input type="password" name="password2" id="password2" class="text-input" required placeholder="MySecretPass123*">
        </label>
        <div class="pass2-error"></div>
        
        <p class="first">
            Click <a href="./login">here</a> to Return to login page
            
        </p>

        <input type="submit" value="Save Password" disabled>
        
    </form>
    <div class="hero-img">
        <img src="{% static image_path %}" alt="">
    </div>

    <script src="{% static 'excelapp/js/validate_password.js' %}"></script>

</main>
{% endblock %}